/*-------------------------------------------*
/* Variables
/*-------------------------------------------*/

:root {
    --primary-color: #8a7252;
    --secondary-color: #d4b68d;
    --accent: #7c543a;
    --grey-dark: #464646;
    --grey: #737373;
    --grey-light: #e8e8e8;
    --grey-light-bg: #f9f9f9;
}

/*-------------------------------------------*
/* Fonts
/*-------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

/*------------------------------------------*/
/* Body, base styles
/*------------------------------------------*/

body { 
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: var(--grey);
}

*,
*::before,
*::after {   
    box-sizing: border-box;
}

*:focus {   
    outline: none;
}

p {
    margin: 0 0 2em 0;
}

strong, b {
    font-weight: 500;
}

a {
    color: var(--accent);
    text-decoration: none;
}

a:hover {
    color: var(--primary-color);
}

img, svg {
	display: block;
	width: 100%;
	height: auto;
}

button {
    border: none;
}

/*------------------------------------------*/
/* Header
/*------------------------------------------*/

.header-top {
    padding: 0.5rem 0;
    background: var(--primary-color);
}

/* Site branding */

.logo {
    display: block;
    width: 8rem;
}

/*------------------------------------------*/
/* Titles
/*------------------------------------------*/

.title {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    color: var(--grey-dark);
}

/*------------------------------------------*/
/* Forms, Buttons
/*------------------------------------------*/

.form-group {
    margin-bottom: 1rem;
}

label {
    margin-bottom: 0.5rem;
}

.required label::after {
    content: "*";
    display: inline-block;
    margin: 0 0 0 0.25rem;
    color: #ff0c00;
}

.form-control {
    padding: 0.5rem 0.75rem;
    font-family: 'Roboto', sans-serif;
    color: var(--grey);
    border: 1px solid var(--secondary-color);
    border-radius: 0;
}

.form-control:focus {
    border: 1px solid var(--accent);
}

.form-control:disabled, 
.form-control[readonly] {
    background-color: #e8e8e8;
}

/* Buttons */

.btn-primary {
    padding: 0.5rem 1.5rem;  
    font-weight: 400;
    text-transform: uppercase;
    color: var(--secondary-color);
    background-color: transparent;
    border: 1px solid var(--secondary-color);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
    border: 1px solid var(--accent);
}

/*------------------------------------------*/
/* Navigation
/*------------------------------------------*/

.navbar {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #fff;
    border-bottom: 0.1875rem solid #ff0c00;
}

.nav-link {
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1.5;
    color: #0c0c0c;
    font-family: 'Lora', serif;
}

.nav-link:hover {
    color: #ff0c00;
}

.nav-link.active {
    color: #fff;
    background-color: #ff0c00;
}

.navbar-toggler {
    position: absolute;
    top: 0;
    right: 0.75rem;
    z-index: 200;
    padding: 0;
    border: 0;
    height: 1.5rem;
    width: 2rem;
    background-image: url(../images/navbar-toggler.svg);
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    box-shadow: none;
    border-radius: 0;
}

/*------------------------------------------*/
/* Slider
/*------------------------------------------*/

.slider {
    background-color: #333;
    border-bottom: 0.1875rem solid #ff0c00;
}

.slide-content {
    position: relative;
    font-family: 'Lora', serif;
}

.slide-metadata {
    background-color: #ff0c00;
    color: #fff;
}

.slide-number {
    font-size: 1rem;
}

.slide-month {
    font-size: 1rem;
}

.slide-text {
    flex: 1 1 auto;
    background-color: #fff;
}

.slide-description {
    font-size: 1.063rem;
    font-weight: 500;
    line-height: 1.5;
}

.slide-title {
    margin: 0;
    font-size: 1.063rem;
    font-weight: 500;
    line-height: 1.5;
}

.slide-title a {
    color: #ff0c00;
}

.slider-prev,
.slider-next {
    width: 1.5rem;
    height: 2rem;
    padding: 0;
    background-color: transparent;
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.slider-prev {
    background-image: url(../images/prev-arrow-white.svg);
}

.slider-next {
    background-image: url(../images/next-arrow-white.svg);
}

.slider-pagination {
    position: absolute;
    z-index: 100;
    bottom: 1.5rem !important;
}

.swiper-pagination-bullet {
    width: 0.625rem !important;
    height: 0.625rem !important;
    background: #fff !important;
    opacity: 1 !important;
    margin: 0 0.25rem !important;
    cursor: pointer;
}

.swiper-pagination-bullet-active {
    background-color: #ff0c00 !important;
}

/*------------------------------------------*/
/* Footer
/*------------------------------------------*/

.footer {
    background: var(--primary-color);
}

/*------------------------------------------*/
/* Responsive
/*------------------------------------------*/

@media (min-width: 768px) {

    .logo {
        width: 16.25rem;
    }

}

@media (min-width: 992px) {

    .page-title {
        font-size: 2.5rem;
    }

    .section-title {
        font-size: 2.25rem;
    }

}

@media (min-width: 1200px) {


}

@media (min-width: 1600px) {

}